html{
    scroll-behavior: smooth;
}



body{
    background-color: #f6f7d7 ;
}


#title 
{   font-family: Anton ,serif;
    font-weight: bold;
    color: black    ;
    text-decoration: none;
}   
#title h1{
    font-size: 45px;
    text-decoration: none;
    color: black;
}
#title a{
      text-decoration: none;
}

#nav-list{
    margin-left: 100px;
    margin-bottom: 0px;
    font-size: 25px;
    


}
#nav-list a{
    color: black;
    margin-top: 26px;
    font-family: Anton,serif;
    margin-left: 40px;
}

#nav-list a:hover{
    border-bottom: 3px solid black;
}


#head{
 
    background-color: white;
    border-bottom:25px solid #ff9a00;


}


.jumbotron{
background-color: #f6f7d7 ;

}

#caption h2{
    font-size: 40px;
    font-family: Bungee, serif;
}
#caption p{
    font-size: 35px;
    font-family: Bungee, serif;
} 



#arrow{
    font-size: 40px;
    text-decoration: none;
  color: #000;
  margin-top: 50px;
  }
  #arrow1{
    font-size: 40px;
    text-decoration: none;
  color: #000;
  
  }
  #home{
    font-size: 40px;
    text-decoration: none;
  color: #000;
  margin-left: 50px;

  }

  #arrow:hover{
    font-size: 40px;
    text-decoration: none;
  color: #ff165d;
  }


  #arrowcon{
    width: 100%;
   
}




  
 #Main2{
     background-color: #fec821;
    border-radius: 50px;
     height: 100vh;
     margin-bottom: 50px;
     width: 95%;
     margin-left: 50px;
 }


 #Main3{
    background-color: #3ec1d3;
    height: 100vh;
    border-radius: 50px;
    margin-bottom: 50px;
    width: 95%;
  margin-left: 50px;
}

#Main4{
    background-color: #6dd47e;
    height: 100vh;
    border-radius: 50px;
    margin-bottom: 50px;
    width: 95%;
    margin-left: 50px;
}


 #Main2 h1{
    font-family: Anton, serif;
    text-align: center;
    font-size: 100px;
    color: black;
 }

 #Main3 h1{
    font-family: Anton, serif;
    text-align: center;
    font-size: 100px;
    color: black;
 }

 #Main4 h1{
    font-family: Anton, serif;
    text-align: center;
    font-size: 100px;
    color: black;
 }





#Main2content{
    background-color: #f1f2f2;
    margin-top: 40px;
    border-radius: 10px;
    height: 90vh;
    
}
#content h2{
    font-size: 40px;
 font-family: Anton ,serif;
 color: black;
}

#heading {
    border-bottom   : 2px solid rgba(0,0,0,0.1);
    padding: 0 0 10px 0;
}


#TeamMember p{
    font-size: 30px;
    margin-top: 20px;
    font-family: Sen,serif;
}

#TeamMember h4{
    font-size: 30px;
    margin-top: 20px;
}

#name {
    font-size: 40px;
    margin-top: 20px;
    list-style-type:none;
    font-family: Faster One ,serif;
}

#projectimg{
    max-width: 400px; 
    width: 100%; 
    border-radius: 50px;
    margin-top: 100px;
    margin-left: 90px;
   

}


#projectimg:hover{
  opacity: 0.5;
 

}


#imgcont{
    margin-top:50px ; 
    text-align: center;

}




