
/* --------------Image Model Content------------------- */

#myImg {
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    
  }

  #myImg1 {
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    
  }
  
  #myImg:hover {opacity: 0.7;}
  #myImg1:hover {opacity: 0.7;}
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }


  .close1 {
  
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    position: fixed;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  .close1:hover,
  .close1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
/* --------------Image Model Content------------------- */

html{
    scroll-behavior: smooth;
}



body{
    background-color: #f6f7d7 ;
}


#title 
{   font-family: Anton ,serif;
    font-weight: bold;
    color: black    ;
    text-decoration: none;
}   
#title h1{
    font-size: 45px;
    text-decoration: none;
    color: black;
}
#title a{
      text-decoration: none;
}

#nav-list{
    margin-left: 100px;
    margin-bottom: 0px;
    font-size: 25px;
    


}
#nav-list a{
    color: black;
    margin-top: 26px;
    font-family: Anton,serif;
    margin-left: 40px;
}

#nav-list a:hover{
    border-bottom: 3px solid black;
}


#head{
 
    background-color: white;
    border-bottom:25px solid #ff9a00;


}


.jumbotron{
background-color: #f6f7d7 ;

}

#caption h2{
    font-size: 40px;
    font-family: Bungee, serif;
    color: white;
}
#caption p{
    font-size: 32px;
    font-family: Bungee, serif;
    color: white;
} 
#caption{
    margin-bottom: 20px;
}



#arrow{
    font-size: 40px;
    text-decoration: none;
  color: #000;
  margin-top: 50px;
  }
  #arrow1{
    font-size: 40px;
    text-decoration: none;
  color: #000;
  
  }
  #home{
    font-size: 40px;
    text-decoration: none;
  color: #000;
  margin-left: 50px;

  }

  #arrow:hover{
    font-size: 40px;
    text-decoration: none;
  color: #ff165d;
  }


  #arrowcon{
    width: 100%;
   
}




  
 #Main2{
     background-color: #fec821;
    border-radius: 50px;
     height: 100vh;
     margin-bottom: 50px;
     width: 95%;
     margin-left: 50px;
 }


 #Main3{
    background-color: #3ec1d3;
    height: 100vh;
    border-radius: 50px;
    margin-bottom: 50px;
    width: 95%;
  margin-left: 50px;
}

#Main4{
    background-color: #6dd47e;
    height: 100vh;
    border-radius: 50px;
    margin-bottom: 50px;
    width: 95%;
    margin-left: 50px;
}


 #Main2 h1{
    font-family: Anton, serif;
    text-align: center;
    font-size: 100px;
    color: black;
 }

 #Main3 h1{
    font-family: Anton, serif;
    text-align: center;
    font-size: 100px;
    color: black;
 }

 #Main4 h1{
    font-family: Anton, serif;
    text-align: center;
    font-size: 100px;
    color: black;
 }





#box{
    background-color: #f1f2f2;
    margin-top: 40px;
    border-radius: 50px;
    height: 90vh;
    
}
#content h2{
    font-size: 40px;
 font-family: Anton ,serif;
 color: black;
}

#heading {
    border-bottom   : 2px solid rgba(0,0,0,0.1);
    padding: 0 0 10px 0;
}




#TeamMember p{
    font-size: 30px;
    margin-top: 20px;
    font-family: Sen,serif;
}

#TeamMember h4{
    font-size: 30px;
    margin-top: 20px;
}

#grpname {
    font-size: 40px;
    margin-top: 20px;
    list-style-type:none;
    font-family: Faster One ,serif;
}

#projectimg{
    max-width: 400px; 
    width: 100%; 
    border-radius: 50px;
    margin-top: 100px;
    margin-left: 90px;
   

}


#projectimg:hover{
  opacity: 0.5;
 

}


#imgcont{
    margin-top:50px ; 
    text-align: center;

}




#projectcontent{
    font-size: 20px;
    font-family: Sen ,serif;
    margin-left: 30px;
}


#content{
    margin-top: 50px;
}

#erdcontent{
    margin-top: 50px;
}

/* ---------------------------------------Project Page---------------------------------- */



#project-tab{
    font-size: 20px;
}
#tabcon{
    font-family: Sen,serif;
}
#first label{
    margin-top: 20px;
}
#first button{
    margin-top: 20px;
}

#first2 label{
  margin-top: 20px;
}
#first2 button{
  margin-top: 20px;
}
#first3 label{
  margin-top: 20px;
}
#first3 button{
  margin-top: 20px;
}


#first4 label{
  margin-top: 20px;
}
#first4 button{
  margin-top: 20px;
}
#box1{
  background-color: white;
  margin-top: 40px;
  border-radius: 50px;
  height: 90vh;
  
}

#dataul{
  font-size: 40px;
  margin-top: 20px;
  list-style-type:none;
  font-family: Faster One ,serif;
}
#heading1 {

  border-bottom   : 2px solid rgba(0,0,0,0.1);
  padding: 0 0 10px 0;
  margin: 15px;
}



#book{
  margin: 35px;
}
/* ---------------------------------------Project Page---------------------------------- */











